body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #F3C9C9;
}

.nossosabor {
    position: relative;
    
    width: 100%;
    max-width:800px; /* Ajuste conforme necessário */
    padding: 100px;
    box-sizing: border-box;
}

.titulo {
    font-size: 2em;
    font-family: 'Itim', cursive;
    font-weight: bold;
    color: #D01760;
    margin-bottom: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 10px;
    justify-content: center;
}

.polaroide {
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    padding: 10px;
    text-align: center;
    
}

.polaroide img {
    width: 100%;
    height: auto;
    display: block;
}

.Sabor {
    margin-top: 10px;
    font-size: 0.3em;
    color: #333;
}

.whatsapp-button {
    /* display: block;
    width: 50px; 
    margin: 05px auto 0;  Centraliza o botão horizontalmente e dá espaçamento acima 
    padding: 10px;*/
    text-align: center;
   /* background-color: #D01760; 
    color: white;
    font-size: 0.8em;*/
    font-weight: bold;
    text-decoration: none;
    /* border-radius: 5px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.6);*/

}